---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [  
  {  
    title: "8 Bola Pijat",  
    description:  
      "Dilengkapi dengan 8 bola pijat (4 bola di kanan dan 4 bola di kiri) untuk pijatan yang lebih efektif dan menyeluruh.",  
    icon: "mdi:eight-ball",  
  },  
  {  
    title: "Pemanas Inframerah",  
    description:  
      "Fitur pemanas inframerah memberikan efek hangat yang nyaman pada saat pemijatan, membantu merelaksasi otot dan saraf.",  
    icon: "mdi:fire",  
  },  
  {  
    title: "Sistem Satu Tombol",  
    description:  
      "Mudah digunakan dengan sistem pengaturan satu tombol, Anda hanya perlu menekan tombol untuk memulai pijatan.",  
    icon: "mdi:power",  
  },  
  {  
    title: "Desain Ergonomis",  
    description:  
      "Dirancang mengikuti lekuk tubuh manusia, sehingga dapat digunakan untuk memijat berbagai bagian tubuh seperti leher, punggung, dan kaki.",  
    icon: "mdi:shape",  
  },  
  {  
    title: "Aman dan Mudah Digunakan",  
    description:  
      "Alat pijat ini aman untuk digunakan dan cocok untuk berbagai kalangan, baik di rumah, kantor, maupun di mobil.",  
    icon: "mdi:shield-check",  
  },  
  {  
    title: "Fungsi Otomatis Stop",  
    description:  
      "Dilengkapi dengan fitur otomatis stop yang akan mematikan alat setelah 10 menit, memberikan kenyamanan dan keamanan saat digunakan.",  
    icon: "mdi:timer-sand",  
  },  
];  

---

<ContentSection title="Fitur Utama" id="features">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
