---
import { Image } from "astro:assets";
import dimanaSaja from "~/assets/dimana-saja.png"
import kegunaan from "~/assets/kegunaan.jpg"
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Pijat dimana saja" id="intro">
  <Fragment slot="lead">
    Alat <span class="text-primary">pijat otomatis</span> ini dapat digunakan di <span class="text-primary">rumah</span> atau di <span class="text-primary">mobil</span>, hanya dengan satu tombol
  </Fragment>
  <div >
    <Image
    class={"rounded-md"}
    src={dimanaSaja}
    alt="Dimana saja"
    />
  </div>
  <div>
    <Image
    width={800}
    class={"rounded-md"}
    src={kegunaan}
    alt="Kegunaan"
    />
  </div>
</ContentSection>
