---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Review" id="intro">
  <!-- <Icon slot="eyebrow" name="logomark" class="size-32" /> -->
  <Fragment slot="lead">
    Video review alat pijat <span class="text-primary">Shiatsu</span
  </Fragment>
  <div class="p-5">
    <iframe width="660" height="415" src="https://www.youtube.com/embed/6ZypwBWgetU?si=djN1WMDirO5zUHie" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</ContentSection>
