---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Spesifikasi" id="intro">
  <table class="min-w-5 bg-white border border-gray-200 mx-auto">    
    <thead>
      <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">    
        <th class="py-3 px-6 text-left">Spesifikasi</th>    
        <th class="py-3 px-6 text-left">Detail</th>    
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">    
      <tr class="border-b border-gray-200 hover:bg-gray-100">    
        <td class="py-3 px-6">Voltase</td>    
        <td class="py-3 px-6">3.7V / 5V</td>    
      </tr>    
      <tr class="border-b border-gray-200 hover:bg-gray-100">    
        <td class="py-3 px-6">Daya</td>    
        <td class="py-3 px-6">5W / 26W</td>    
      </tr>    
      <tr class="border-b border-gray-200 hover:bg-gray-100">    
        <td class="py-3 px-6">Ukuran Produk</td>    
        <td class="py-3 px-6">30 cm x 18 cm / 29 x 26.5 x 6.5 cm</td>    
      </tr>    
      <tr class="border-b border-gray-200 hover:bg-gray-100">    
        <td class="py-3 px-6">Panjang Kabel</td>    
        <td class="py-3 px-6">120 cm</td>    
      </tr>    
      <tr class="border-b border-gray-200 hover:bg-gray-100">    
        <td class="py-3 px-6">Bahan</td>    
        <td class="py-3 px-6">Kain & Plastik</td>    
      </tr>    
      <tr class="border-b border-gray-200 hover:bg-gray-100">    
        <td class="py-3 px-6">Isi Kemasan</td>    
        <td class="py-3 px-6">Satu Unit Produk, Kertas Panduan, Kabel Cas</td>    
      </tr>    
      <tr class="border-b border-gray-200 hover:bg-gray-100">    
        <td class="py-3 px-6">Fitur Khusus</td>    
        <td class="py-3 px-6">Rechargeable, Otomatis Stop, Infrared</td>    
      </tr>    
    </tbody>    
  </table>  
</ContentSection>
